#content .indent {
	MARGIN-LEFT: 2em
}
#content UL.nobullet {
	MARGIN-TOP: 0px; PADDING-LEFT: 2em; MARGIN-BOTTOM: 0.3em; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
#content UL.nobullet LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none
}
#content UL.noindent {
	MARGIN-TOP: 0px; PADDING-LEFT: 1.3em; MARGIN-BOTTOM: 0.3em; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
#content UL.noindent LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
#content UL.moresep LI {
	MARGIN-BOTTOM: 1em
}
#content OL.moresep LI {
	MARGIN-BOTTOM: 1em
}
#content UL.moresep UL LI {
	MARGIN-BOTTOM: 0px
}
#content UL.moresep OL LI {
	MARGIN-BOTTOM: 0px
}
#content OL.moresep UL LI {
	MARGIN-BOTTOM: 0px
}
#content OL.moresep OL LI {
	MARGIN-BOTTOM: 0px
}
#content .close {
	MARGIN-TOP: 0.3em; MARGIN-BOTTOM: 0.3em
}
#content .close-top {
	MARGIN-TOP: 0.3em
}
#content .close-bot {
	MARGIN-BOTTOM: 0.3em
}
#content .hanging-indent {
	TEXT-INDENT: -2em; PADDING-LEFT: 2em
}
#content DIV.clear-float {
	HEIGHT: 0px; CLEAR: both
}
#content TABLE.topicnav.qfinder {
	WIDTH: auto
}
#content TABLE.topicnav.qfinder THEAD TH P {
	FONT-SIZE: 1em
}
#content TABLE.topicnav.qfinder TBODY TD {
	TEXT-ALIGN: center; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; VERTICAL-ALIGN: middle
}
#content TABLE.topicnav.qfinder TBODY TD A {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; DISPLAY: block; PADDING-TOP: 0.2em
}
#content TABLE.topicnav.qfinder TBODY TD.here {
	BACKGROUND-COLOR: #e8e8e8; FONT-WEIGHT: bold
}

@media Print    
{
#content .topicnav {
	DISPLAY: none
}
#content .skip {
	DISPLAY: none
}
    }
#content TABLE.left.topicnav.qfinder {
	MARGIN-RIGHT: 2em
}
#content A.dfdlink {
	POSITION: relative; TOP: -10px
}
#content TD.form-label {
	TEXT-ALIGN: right; PADDING-RIGHT: 1em
}
#content TH.form-label {
	TEXT-ALIGN: right; PADDING-RIGHT: 1em
}
#content TD.vert-pad {
	PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#content TH.vert-pad {
	PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#content TABLE.namefields {
	
}
#content TABLE.namefields TD {
	PADDING-RIGHT: 0.5em; WHITE-SPACE: nowrap; VERTICAL-ALIGN: top
}
#content FORM .mustfill {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fdfcee; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-TOP: 2px
}
#content FORM .fielderror {
	BORDER-RIGHT-WIDTH: 2px; BACKGROUND-COLOR: #fde4e1; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px; MARGIN-RIGHT: 1em
}
#content .fielderror-msg {
	LINE-HEIGHT: 1; COLOR: #c00; FONT-SIZE: 95%
}
#content .formerror-msg {
	PADDING-BOTTOM: 0.2em; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #f33; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 95%; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; PADDING-TOP: 0.2em
}
#content TABLE.reviewinfo {
	BORDER-BOTTOM: #abc 2px solid; BORDER-LEFT: #abc 2px solid; BACKGROUND-COLOR: white; BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: #abc 2px solid; BORDER-RIGHT: #abc 2px solid
}
#content TABLE.reviewinfo TD {
	BORDER-BOTTOM: #abc 1px solid; BORDER-LEFT: #abc 1px dotted; PADDING-BOTTOM: 3px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; VERTICAL-ALIGN: top; BORDER-TOP: #abc 1px solid; BORDER-RIGHT: #abc 1px dotted; PADDING-TOP: 3px
}
#content TABLE.reviewinfo TH {
	BORDER-BOTTOM: #abc 1px solid; BORDER-LEFT: #abc 1px dotted; PADDING-BOTTOM: 3px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; VERTICAL-ALIGN: top; BORDER-TOP: #abc 1px solid; BORDER-RIGHT: #abc 1px dotted; PADDING-TOP: 3px
}
#content TABLE.shaderight TD + TD {
	BACKGROUND-COLOR: #f8f8ff
}
#content .small-text {
	FONT-SIZE: 85%
}
#content .gray-text {
	COLOR: #888
}
#content .gray-background {
	BACKGROUND-COLOR: #f0f0f0
}
#content A.noline {
	COLOR: #33c; TEXT-DECORATION: none
}
#content A.noline:hover {
	COLOR: #933; TEXT-DECORATION: underline
}
#content ABBR.mail {
	BORDER-BOTTOM-STYLE: none
}
#content .errmsg {
	WIDTH: 50%; FLOAT: none
}
#content .menulist LI {
	PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
#content .trk-srch-head {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #8d843f; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#content .trk-srch-inst {
	BACKGROUND-COLOR: #d2d09d; COLOR: #000000
}
#content .trk-srch-stat {
	BACKGROUND-COLOR: #e7e7b6; COLOR: #000000
}
#content .trk-srch-reg {
	BACKGROUND-COLOR: #ffffc4; COLOR: #000000
}
#content .trk-srch-fmt {
	BACKGROUND-COLOR: #8d843f; COLOR: #ffffff
}
#content .trk-srch-uv {
	BACKGROUND-COLOR: #e7e7b6; COLOR: #000000
}
#content .trk-cols-head {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #3f76a3; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#content .trk-cols-body {
	BACKGROUND-COLOR: #dfeaf0; COLOR: #000000
}
#content .trk-type-t {
	BACKGROUND-COLOR: #d9ecd7
}
#content .trk-type-p {
	BACKGROUND-COLOR: #ebdff4
}
#content .trk-edt-head {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #8d843f; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#content .trk-edt-note {
	BACKGROUND-COLOR: #d2d09d; COLOR: #000000
}
#content .trk-edt-adm {
	BACKGROUND-COLOR: #e7e7b6; COLOR: #000000
}
#content .trk-edt-reg {
	BACKGROUND-COLOR: #f4f5d6; COLOR: #000000
}
#content .trk-mrd-ahead {
	BACKGROUND-COLOR: #8d843f; COLOR: #fff
}
#content .trk-mrd-abody {
	BACKGROUND-COLOR: #ffffc4; WHITE-SPACE: nowrap; COLOR: #000
}
#content .trk-mrd-rhead {
	BACKGROUND-COLOR: #bab978; COLOR: #000
}
#content .trk-mrd-rbody {
	BACKGROUND-COLOR: #f0f2e2; COLOR: #000
}
#content .trk-mrd-rbodyA {
	BACKGROUND-COLOR: #ffffe0; COLOR: #000
}
#content .trk-mrd-rbodyI {
	BACKGROUND-COLOR: #eeeed1; COLOR: #000
}
#content .trk-mrd-rbodyD {
	BACKGROUND-COLOR: #cdcdb4; COLOR: #000
}
#content .trk-mrd-ihead {
	BACKGROUND-COLOR: #8fbc8f; COLOR: #000
}
#content .trk-mrd-ihome {
	BACKGROUND-COLOR: #cceafd; COLOR: #000
}
#content .trk-mrd-iorg {
	BACKGROUND-COLOR: #dcf2fe; COLOR: #000
}
#content .trk-mrd-ipriv {
	BACKGROUND-COLOR: #cbf8cc; COLOR: #000
}
#content .trk-mrd-ipubl {
	BACKGROUND-COLOR: #e5fbe6; COLOR: #000
}
#content .trk-pml-ahead {
	BACKGROUND-COLOR: #8d843f; COLOR: #fff
}
#content .trk-pml-abody {
	BACKGROUND-COLOR: #ffffc4; WHITE-SPACE: nowrap; COLOR: #000
}
#content .trk-pml-rhead {
	BACKGROUND-COLOR: #bab978; COLOR: #000
}
#content .trk-pml-rbody {
	BACKGROUND-COLOR: #f0f2e2; COLOR: #000
}
#content .trk-pml-rbodyS {
	BACKGROUND-COLOR: #ffffe0; COLOR: #000
}
#content .trk-pml-rbodyI {
	BACKGROUND-COLOR: #eeeed1; COLOR: #000
}
#content .trk-pml-rbodyD {
	BACKGROUND-COLOR: #cdcdb4; COLOR: #000
}
#content TABLE.trk-edt-tbl {
	BORDER-BOTTOM: #8d843f 1px solid; BORDER-LEFT: #8d843f 1px solid; BACKGROUND-COLOR: white; BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: #8d843f 1px solid; BORDER-RIGHT: #8d843f 1px solid
}
#content TABLE.trk-edt-tbl TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
#content TABLE.trk-edt-tbl TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
#content TABLE.trk-edt-tbl A.head-link:link {
	COLOR: #fff
}
#content TABLE.trk-edt-tbl A.head-link:visited {
	COLOR: #fff
}
#content TABLE.trk-edt-tbl A.head-link:hover {
	COLOR: #33f
}
#content TABLE.trk-srch-uv-tbl {
	BORDER-BOTTOM: #8d843f 1px solid; BORDER-LEFT: #8d843f 1px solid; BACKGROUND-COLOR: white; BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse; FONT-SIZE: 1em; BORDER-TOP: #8d843f 1px solid; BORDER-RIGHT: #8d843f 1px solid
}
#content TABLE.trk-srch-uv-tbl TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
#content TABLE.trk-srch-uv-tbl TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
#content FORM .trk-srch-fielderror {
	BORDER-BOTTOM: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BACKGROUND-COLOR: #fde4e1; BORDER-TOP: #000000 2px solid; BORDER-RIGHT: #000000 2px solid
}
#content TABLE.data-tbl {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND-COLOR: #fff; BORDER-COLLAPSE: collapse; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
#content TABLE.data-tbl TH {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-SIZE: 95%; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 3px
}
#content TABLE.data-tbl TD {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-SIZE: 95%; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 3px
}
#content .srch-nav-link {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 90%; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#content A.srch-nav-link:hover {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
#content .srch-nav-curpg {
	BORDER-BOTTOM-COLOR: #999; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #999; BORDER-TOP-COLOR: #999; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#content .srch-nav-sep {
	BACKGROUND-COLOR: #fff; COLOR: #fff; FONT-SIZE: 2pt
}
#content DIV.radio-checkbox {
	TEXT-INDENT: -25px; MARGIN-LEFT: 25px
}
#content .note-info {
	BORDER-BOTTOM: #bcd2e7 1px solid; BORDER-LEFT: #bcd2e7 1px solid; PADDING-BOTTOM: 0.3em; BACKGROUND-COLOR: #f8fafc; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #bcd2e7 1px solid; BORDER-RIGHT: #bcd2e7 1px solid; PADDING-TOP: 0.3em
}
#content .note-warn {
	BORDER-BOTTOM: #990000 1px solid; BORDER-LEFT: #990000 1px solid; PADDING-BOTTOM: 0.2em; BACKGROUND-COLOR: #fff8dc; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #990000 1px solid; BORDER-RIGHT: #990000 1px solid; PADDING-TOP: 0.2em
}
