BODY.newblue {
	BACKGROUND: url(bg_stripe.gif) #fff
}
BODY.newblue {
	COLOR: #494949
}
.newblue .qAdBdyA {
	COLOR: #494949
}
.newblue A {
	COLOR: #36658e
}
.newblue #hd A {
	COLOR: #36658e
}
.newblue #bhL LI A {
	COLOR: #36658e
}
.newblue .nav1 A {
	COLOR: #36658e
}
.newblue .nav2 A {
	COLOR: #36658e
}
.newblue .nav3 A {
	COLOR: #36658e
}
.newblue #dl .a1 A {
	COLOR: #36658e
}
.newblue #ftl A {
	COLOR: #36658e
}
.newblue #cpr A {
	COLOR: #36658e
}
.newblue .mr B {
	COLOR: #36658e
}
.newblue .more B {
	COLOR: #36658e
}
.newblue #wh .more {
	COLOR: #36658e
}
.newblue #shop .more {
	COLOR: #36658e
}
.newblue #pshop .more {
	COLOR: #36658e
}
.newblue .nwsh1 UL LI {
	COLOR: #36658e
}
.newblue .cnt_rltd_title UL {
	COLOR: #36658e
}
.newblue .srchtogt {
	COLOR: #36658e
}
.newblue #sns {
	COLOR: #36658e
}
.newblue #pgw {
	BORDER-RIGHT-COLOR: #eff3f4; BORDER-LEFT-COLOR: #eff3f4
}
.newblue #topb {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #jumpbar {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #topb #tune {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #hd {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #logo {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #cols {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #blsrch .m_arw {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #dhL2 A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #addL {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #addownlink {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .dlpv B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .nwsh1 UL LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .rssmod_head A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #coBr .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue B.more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #pshop .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lrg_col .more B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #md_col .more B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #adFvC .more A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lcmore B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #horosP .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rdmore {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #w_more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #gettf .more A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #gasmore {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lotmore {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #sports .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #spGm .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .spAimUa .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #video .more B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #mkhpcontent .more A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #ebay .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #nmore B {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #spRss .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #hpgames .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #dirpage #dir .sq {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #htstk .mr {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #intrts .mr {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #mktf .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #localo .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #add_link .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #add_link #el_delete {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .shop_p .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue B.more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lrg_col H3 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #md_col H3 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #sTbCt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #blsrch .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .down_arrow {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .up_arrow {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .quest {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue UL.ebpm LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #spGm UL LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #sports UL LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rssao H3 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #om_popsshopping H3 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .spa {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .localh A.opn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .localh A.cls {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .localh A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .usrlh A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rssagg A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #mystuff A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #aisupertabbottom {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue A.add {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .sTbBdy .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .grbut {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #dlbi {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #dlpi {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #dlfi {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #spRss DIV UL LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #local .localh A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .sq {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue UL.ebres LI A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #blsrch .st {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue UL.ui-sortable#userlinks LI A SPAN.sort-icon {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue UL.ui-sortable LI A SPAN.sort-icon {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #local .M H3.localh A.refr {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lweather .more {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #localgas .gas_prices_footer .gas_footer_links .more_prices {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #localgas .gas_prices_footer .gas_footer_links .station_map {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #local H3 A.qu {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #stbPrev SPAN {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #stbNext SPAN {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue A.kex_btn_left {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue A.kex_btn_right {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rssagg .rssedit {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rssao H3 A.clps {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lrg_col H3 A.clps {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #md_col H3 A.clps {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #rssao H3 A.opnn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #lrg_col H3 A.opnn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #md_col H3 A.opnn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #searchNavContainer .navb {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #thmPrev {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #thmNext {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #themechooserWr {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #thmcrsl LI I.on {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #thmCrslCt .jcarousel-item I:hover {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.IE .newblue #thmCrslCt LI I.hovered {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #mrThm A.opnn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #mrThm A.clps {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #portaltabs {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #portaltabs I.pti A {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .clustCarouselP {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .clustCarouselN {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #cstmBtn {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #cstmPgCt H3 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .cstmBtn#cstmBtn A.add {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .ncstmBtn#cstmBtn A.add {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .hottopics H4 {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue .spc_fBt {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_srchbtm {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: transparent
}
.newblue #pstrp {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: #d9b528
}
.newblue #md_col .mlbtm .more B {
	BACKGROUND-IMAGE: none
}
.newblue .grbut {
	BACKGROUND-COLOR: #2b5377; COLOR: #fff
}
.newblue #topb {
	BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #jumpbar {
	BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #hdb {
	BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #cols {
	BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #themechooserWr {
	BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #themechooserWr {
	BACKGROUND-COLOR: #fff
}
.SAF .newblue #themechooserWr {
	BACKGROUND-COLOR: #fff
}
.newblue #ftb {
	BORDER-BOTTOM-COLOR: #cecece; BORDER-TOP-COLOR: #cecece; BORDER-RIGHT-COLOR: #cecece; BORDER-LEFT-COLOR: #cecece
}
.newblue #topb {
	BACKGROUND-COLOR: #5d7990
}
.newblue #jumpbar {
	BACKGROUND: #e9e9e9 0px 0px
}
.newblue #jumpbar {
	COLOR: #898989
}
.newblue #jumpbar A {
	COLOR: #898989
}
.newblue #jumpbar #skintxt {
	COLOR: #898989
}
.newblue #jumpbar #jbl {
	COLOR: #898989
}
.newblue #thm .sca {
	BORDER-BOTTOM: #898989 1px solid; BORDER-LEFT: #898989 1px solid; BORDER-TOP: #898989 1px solid; BORDER-RIGHT: #898989 1px solid
}
.newblue #hd {
	BACKGROUND-COLOR: #ececec
}
.newblue #skinid LI {
	BORDER-BOTTOM-COLOR: #8ab0fd; BORDER-TOP-COLOR: #8ab0fd; BORDER-RIGHT-COLOR: #8ab0fd; BORDER-LEFT-COLOR: #8ab0fd
}
.newblue #skinid LI.selected {
	BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff
}
.newblue .fBt {
	COLOR: #161616
}
.newblue #cols {
	BACKGROUND: url(cols_stripe.gif) #e6eaeb repeat-x 0px 0px
}
.newblue #thm B {
	COLOR: #ddeefd
}
.newblue #topft2 {
	BORDER-BOTTOM-COLOR: #4a6379; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue .spc_tx {
	BORDER-BOTTOM-COLOR: #4a6379; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue .spc_fBt {
	BORDER-BOTTOM-COLOR: #4a6379; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue .st A {
	BORDER-RIGHT-COLOR: #c9c9c9
}
.newblue #blsrch UL.st .wBt {
	BORDER-RIGHT-COLOR: #666
}
.newblue #blsrch UL.st .nv A {
	BORDER-LEFT-COLOR: #c9c9c9
}
.newblue #blsrch .fBt {
	BORDER-LEFT-COLOR: #4a6379
}
.newblue #slnks .b {
	COLOR: #494949
}
.newblue .Feature .main H2 {
	COLOR: #000 !important
}
.newblue .sc1 .main H2 {
	COLOR: #000 !important
}
.newblue .main H2 {
	COLOR: #000 !important
}
.newblue .sc1sd H3 {
	COLOR: #000 !important
}
.newblue #lrg_col .sc1sd H3 {
	COLOR: #000 !important
}
.newblue #dhL2 A {
	COLOR: #fff
}
.newblue #sm_col UL .h A {
	COLOR: #fff
}
.newblue #adFv H3 A {
	COLOR: #fff
}
.newblue #mk H3 A {
	COLOR: #fff
}
.newblue #shop H3 A {
	COLOR: #fff
}
.newblue #pshop H3 A {
	COLOR: #fff
}
.newblue #lc .fl_r I {
	COLOR: #fff
}
.newblue #gas .fl_r I {
	COLOR: #fff
}
.newblue #lots .fl_r I {
	COLOR: #fff
}
.newblue #sm_col .h {
	COLOR: #fff
}
.newblue #sm_col .serv .h A {
	COLOR: #fff
}
.newblue .qnc {
	COLOR: #fff
}
.newblue #aifreefromaol_h H3 A {
	COLOR: #fff
}
.newblue #lrg_col H3 A {
	COLOR: #fff
}
.newblue #sm_col H3 .h {
	COLOR: #fff
}
.newblue #add_link .fBt {
	COLOR: #fff
}
.newblue #add_link #el_delete {
	COLOR: #fff
}
.newblue #mktf .fBt {
	COLOR: #fff
}
.newblue #localo .fBt {
	COLOR: #fff
}
.newblue .shop_p .fBt {
	COLOR: #fff
}
.newblue .dlcat A {
	COLOR: #fff
}
.newblue .sc1 .dlcat A {
	COLOR: #fff
}
.newblue H3 {
	COLOR: #fff
}
.newblue #lrg_col H3 {
	COLOR: #fff
}
.newblue .dlcat {
	COLOR: #fff
}
.newblue #lrg_col H3 A {
	COLOR: #fff
}
.newblue #md_col H3 A {
	COLOR: #fff
}
.newblue #rt_cols H3 A {
	COLOR: #fff
}
.newblue #mk H3 B {
	COLOR: #fff
}
.newblue #adFps H3 B {
	COLOR: #fff
}
.newblue #sm_col .h {
	COLOR: #fff
}
.newblue .rssscr LI A:hover {
	COLOR: #fff
}
.newblue #om_popsshopping H3 {
	COLOR: #fff
}
.newblue #aisupertabbottom A {
	COLOR: #fff
}
.newblue #aisupertabbottom_h A {
	COLOR: #fff
}
.newblue #mystuff {
	COLOR: #fff
}
.newblue #sTbBdy .fBt {
	COLOR: #fff
}
.newblue #om_popsshopping H3 A {
	COLOR: #fff
}
#thmPrLdng P {
	COLOR: #fff
}
.newblue .hottopics H4 {
	COLOR: #fff
}
.newblue I.ts {
	COLOR: #889eb0
}
.newblue #ft {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #ftl {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #b728 {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #b728w {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #aieastwestmantle {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #aieastwestmantle_w {
	BACKGROUND-COLOR: #f7f7f7
}
.newblue #dhL2 {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue .oM {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #rA {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #ft {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #dirw {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #b728 {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #aieastwestmantle {
	BORDER-BOTTOM-COLOR: #dbdcde; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #dhL2 A {
	BORDER-BOTTOM-COLOR: #89a80f; BACKGROUND-COLOR: #89a80f; BORDER-TOP-COLOR: #89a80f; COLOR: #fff; BORDER-RIGHT-COLOR: #89a80f; BORDER-LEFT-COLOR: #89a80f
}
.IE .newblue #dhL2 A {
	WIDTH: 96%
}
.newblue #sm_col .dir UL {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col UL.nav2 {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col UL.nav3 {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col H3 A.h {
	BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #sm_col UL#userlinks LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .dir UL LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .nav2 LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .nav3 LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col UL#userlinks {
	BACKGROUND-COLOR: #e7f1f8; COLOR: #264a69
}
.newblue #sm_col UL#userlinks LI A {
	BORDER-BOTTOM-COLOR: #ccdae3
}
.newblue #sm_col #addownlink {
	BORDER-BOTTOM-COLOR: #c7cdd2; BORDER-TOP-COLOR: #c7cdd2; COLOR: #264a69; BORDER-RIGHT-COLOR: #c7cdd2; BORDER-LEFT-COLOR: #c7cdd2
}
.newblue #dl {
	COLOR: #000
}
.newblue #pstrp {
	COLOR: #000
}
.newblue #pstrp A {
	COLOR: #000
}
.newblue #f {
	BACKGROUND-COLOR: #fff
}
.newblue #smore {
	BACKGROUND-COLOR: #fff
}
.newblue .M {
	BACKGROUND-COLOR: #fff
}
.newblue #sng {
	BACKGROUND-COLOR: #fff
}
.newblue .white {
	BACKGROUND-COLOR: #fff
}
.newblue #mkhp {
	BACKGROUND-COLOR: #fff
}
.newblue .nwsh1 {
	BACKGROUND-COLOR: #fff
}
.newblue #rA {
	BORDER-BOTTOM-COLOR: #dbdcde; BACKGROUND-COLOR: #d2dee4; BORDER-TOP-COLOR: #dbdcde; BORDER-RIGHT-COLOR: #dbdcde; BORDER-LEFT-COLOR: #dbdcde
}
.newblue #tsrch {
	COLOR: #f1ffff
}
.newblue .mr {
	COLOR: #f1ffff
}
.newblue #w_more {
	COLOR: #f1ffff
}
.newblue #video .more {
	COLOR: #f1ffff
}
.newblue #sports .more {
	COLOR: #f1ffff
}
.newblue #sports I {
	COLOR: #f1ffff
}
.newblue #spGm .more {
	COLOR: #f1ffff
}
.newblue .aimBuds I {
	COLOR: #f1ffff
}
.newblue .spAimUa .more {
	COLOR: #f1ffff
}
.newblue #lc .sq {
	COLOR: #f1ffff
}
.newblue #lc .fl_r {
	COLOR: #f1ffff
}
.newblue #gas .fl_r {
	COLOR: #f1ffff
}
.newblue #gettf H5 I {
	COLOR: #f1ffff
}
.newblue #lots .fl_r {
	COLOR: #f1ffff
}
.newblue #gasl LI A I {
	COLOR: #f1ffff
}
.newblue #gettf I.chloc {
	COLOR: #f1ffff
}
.newblue #jumpbar {
	COLOR: #f1ffff
}
.newblue #aijumpbar1 {
	COLOR: #f1ffff
}
.newblue #aijumpbar1_h {
	COLOR: #f1ffff
}
.newblue #aijumpbar2 {
	COLOR: #f1ffff
}
.newblue #aijumpbar2_h {
	COLOR: #f1ffff
}
.newblue #shop .more UL {
	COLOR: #f1ffff
}
.newblue #pshop .more UL {
	COLOR: #f1ffff
}
.newblue #ft {
	COLOR: #f1ffff
}
.newblue #lcmore {
	COLOR: #f1ffff
}
.newblue #gasmore {
	COLOR: #f1ffff
}
.newblue #lotmore {
	COLOR: #f1ffff
}
.newblue #ebay .more {
	COLOR: #f1ffff
}
.newblue #ebtrkmsg {
	COLOR: #f1ffff
}
.newblue #ebtrk {
	COLOR: #f1ffff
}
.newblue #nmore {
	COLOR: #f1ffff
}
.newblue #spRss .more {
	COLOR: #f1ffff
}
.newblue #hpgames .more {
	COLOR: #f1ffff
}
.newblue #add_link .fBt {
	BACKGROUND-COLOR: #223652
}
.newblue #add_link #el_delete {
	BACKGROUND-COLOR: #223652
}
.newblue #mktf .fBt {
	BACKGROUND-COLOR: #223652
}
.newblue .shop_p .fBt {
	BACKGROUND-COLOR: #223652
}
.newblue #localo .fBt {
	BACKGROUND-COLOR: #223652
}
.newblue .fBt {
	BACKGROUND-COLOR: #223652
}
.newblue #sm_col UL LI {
	BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #sm_col H3 {
	BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #sm_col .dir UL LI A {
	BACKGROUND-COLOR: #cee2f4; COLOR: #1b598e
}
.newblue #sm_col .nav2 LI A {
	BACKGROUND-COLOR: #cee2f4; COLOR: #1b598e
}
.newblue #sm_col .nav3 LI A {
	BACKGROUND-COLOR: #cee2f4; COLOR: #1b598e
}
.newblue #sm_col .dir UL {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col UL.nav2 {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col UL.nav3 {
	BORDER-RIGHT-COLOR: #c2c2c2
}
.newblue #sm_col H3 A.h {
	BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #sm_col UL#userlinks LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .dir UL LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .nav2 LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col .nav3 LI A {
	BORDER-BOTTOM-COLOR: #bdd0e1
}
.newblue #sm_col UL#userlinks LI A {
	BACKGROUND-COLOR: #e7f1f8; COLOR: #264a69
}
.newblue #sm_col UL#userlinks LI A {
	BORDER-BOTTOM-COLOR: #ccdae3
}
.newblue #addL {
	BACKGROUND-COLOR: #edf2f6
}
.newblue #om_usrlnks_cust_ UL LI {
	BACKGROUND-COLOR: #edf2f6
}
.newblue #sm_col UL.serv LI A.navhover {
	BACKGROUND-COLOR: #fff
}
.newblue #sm_col UL#userlinks LI A.navhover {
	BACKGROUND-COLOR: #fff
}
.newblue #sm_col .nav2 LI A:hover {
	BACKGROUND-COLOR: #fff
}
.newblue #sm_col .nav3 LI A:hover {
	BACKGROUND-COLOR: #fff
}
.newblue .M {
	BACKGROUND-COLOR: #fff
}
.newblue #nav4 {
	BACKGROUND-COLOR: #edf3f8
}
.newblue #md_col .M {
	BACKGROUND-COLOR: #d2dee4
}
.newblue .Feature {
	BACKGROUND-COLOR: #fff
}
.newblue .sc1 {
	BACKGROUND-COLOR: #fff
}
.newblue .Feature .credit {
	COLOR: #999
}
.newblue .sc1 .credit {
	COLOR: #999
}
.newblue H3 {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .sc1sd {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #hd {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .dir UL LI A {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #sm_col .h {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #aiw {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .nav2 LI A {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .nav3 LI A {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .dlcat {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #sTbCt {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .linksuls UL LI A {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .linksuls UL LI .blnk:hover {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #dirhd {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue .c2 LI .blnk:hover {
	BACKGROUND-COLOR: #cfe2f3
}
.newblue #sm_col .dir UL LI A I {
	COLOR: #c61412
}
.newblue #sm_col UL.nav2 LI A I {
	COLOR: #c61412
}
.newblue #sm_col UL.nav3 LI A I {
	COLOR: #c61412
}
.newblue H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #lrg_col H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue .dlcat {
	BACKGROUND-COLOR: #1d2c44
}
.newblue .sc1sd H3 {
	BACKGROUND-COLOR: #efefef; COLOR: #000
}
.newblue #lrg_col .sc1sd H3 {
	BACKGROUND-COLOR: #efefef; COLOR: #000
}
.newblue #rssao H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #mk H3 B {
	BACKGROUND-IMAGE: none
}
.newblue #adFps H3 B {
	BACKGROUND-IMAGE: none
}
.newblue #rssagg .coltitle {
	BACKGROUND-IMAGE: none
}
.newblue #rt_cols H3.rssmod_head_tle {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #lrg_col H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #md_col H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #sTbCt {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #om_popsshopping H3 {
	BACKGROUND-COLOR: #1d2c44
}
.newblue #lrg_col .sc1sd H3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #md_col H3 {
	BACKGROUND-COLOR: #626b73
}
.newblue #sTbCt {
	BACKGROUND-COLOR: #626b73
}
.newblue #om_popsshopping H3 {
	BACKGROUND-COLOR: #626b73
}
.newblue #aisupertabbottom {
	BACKGROUND-COLOR: #626b73
}
.newblue #sm_col .h {
	BACKGROUND-COLOR: #264a69
}
.newblue #sm_col A.h {
	BACKGROUND-COLOR: #31658e
}
.newblue #sm_col .dir H3 {
	BACKGROUND-COLOR: #31658e
}
.newblue #hd {
	BACKGROUND-COLOR: #ebeced
}
.newblue .dlpv {
	BACKGROUND-COLOR: #efefef
}
.newblue .sc1sd {
	BACKGROUND-COLOR: #efefef
}
.newblue #dlcontrol {
	BACKGROUND-COLOR: #fff; COLOR: #8b8b8b
}
.newblue .Mwr {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue .M {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #dl {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #sTbCtWr {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #ftw {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue .poll {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #b728w {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #aieastwestmantle_w {
	BORDER-BOTTOM-COLOR: #c2c2c2; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #hdb {
	BORDER-BOTTOM-COLOR: #e2e2e2; BORDER-TOP-COLOR: #e2e2e2; BORDER-RIGHT-COLOR: #e2e2e2; BORDER-LEFT-COLOR: #e2e2e2
}
.newblue #blsrch .fBt {
	BACKGROUND-COLOR: #d9b528
}
.IE7 .newblue #blsrch .fBt {
	BORDER-RIGHT-COLOR: #d9b528
}
.newblue #blsrch UL.st .wBt {
	BORDER-BOTTOM-COLOR: #4a6379; BACKGROUND-COLOR: #ffd52f; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue #blsrch UL.st .wBt A {
	COLOR: #191816
}
.newblue #topft2 {
	BACKGROUND: #f3f7f8
}
.newblue #blsrch .q {
	BACKGROUND: #f3f7f8
}
.newblue .spc_tx {
	BACKGROUND: #f3f7f8
}
.newblue .feedtitle {
	BORDER-BOTTOM-COLOR: #c4c4c4
}
.newblue #rssagg .coltitle {
	BORDER-BOTTOM-COLOR: #a9aaab; BORDER-RIGHT-COLOR: #a9aaab
}
.newblue .cats .coltitle {
	BORDER-BOTTOM-COLOR: #a9aaab; BORDER-RIGHT-COLOR: #a9aaab
}
.newblue .cats .coltitle H3 {
	BACKGROUND: #d0d3d5
}
.newblue .sites .coltitle H3 {
	BACKGROUND: #dddfe0
}
.newblue .feeds .coltitle H3 {
	BACKGROUND: #e8ecf0
}
.newblue .oMFeed .feeds .coltitle H3 {
	BACKGROUND: #e8ecf0
}
.newblue .oMFeed .feeds .coltitle {
	BACKGROUND: #e8ecf0
}
.newblue #rsscats .rssscr LI.sel {
	BACKGROUND-COLOR: #33648e
}
.newblue #rsscats .rssscr LI A:hover {
	BACKGROUND-COLOR: #33648e
}
.newblue #toggleBar A:hover {
	BACKGROUND-COLOR: #33648e
}
.newblue #rsssites .rssscr LI.sel {
	BACKGROUND-COLOR: #5c7991
}
.newblue #rsssites .rssscr LI A:hover {
	BACKGROUND-COLOR: #5c7991
}
.newblue .cats H3 {
	BACKGROUND: #d0d3d5
}
.newblue #prsscatsdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #nrsscatsdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #prsssitesdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #nrsssitesdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue .rssscr {
	BACKGROUND-COLOR: #eaebed
}
.newblue .rssscrbut {
	BACKGROUND-COLOR: #9babb9
}
.newblue .cnt_rltd_title {
	BORDER-TOP-COLOR: #c4c4c4
}
.newblue .feed_cnt_bdy {
	BORDER-TOP-COLOR: #c4c4c4
}
.newblue .feed_cnt_bdy DT B {
	COLOR: #7b7b7b
}
.newblue #slnks {
	COLOR: #ccc
}
.newblue .qu {
	COLOR: #c9d5da
}
.newblue .quest {
	COLOR: #c9d5da
}
.newblue .localh A.opn {
	COLOR: #c9d5da
}
.newblue .localh A.cls {
	COLOR: #c9d5da
}
.newblue .localh A.qu {
	COLOR: #c9d5da
}
.newblue .usrlh A.qu {
	COLOR: #c9d5da
}
.newblue #rssagg A.qu {
	COLOR: #c9d5da
}
.newblue #mystuff A.qu {
	COLOR: #c9d5da
}
.newblue #rt_cols H3.rssmod_head_tle {
	COLOR: #000 !important
}
.newblue .cats .coltitle {
	BACKGROUND-COLOR: #d0d3d5
}
.newblue .sites .coltitle {
	BACKGROUND-COLOR: #d0d3d5
}
.newblue .feeds .coltitle {
	BACKGROUND-COLOR: #d0d3d5
}
.newblue #sTbs LI {
	
}
.newblue #thm I {
	BORDER-BOTTOM-COLOR: blue; BORDER-TOP-COLOR: blue; BORDER-RIGHT-COLOR: blue; BORDER-LEFT-COLOR: blue
}
.newblue #thm I.on {
	BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff
}
.newblue #stbCarEdit {
	BORDER-BOTTOM-COLOR: #4f6b83; BACKGROUND-COLOR: #7193ae; BORDER-TOP-COLOR: #4f6b83; COLOR: #fff; BORDER-RIGHT-COLOR: #4f6b83; BORDER-LEFT-COLOR: #4f6b83
}
.newblue #stbPrev {
	BACKGROUND-COLOR: #243859
}
.newblue #stbNext {
	BACKGROUND-COLOR: #243859
}
.newblue #video .more {
	COLOR: #c9c9c9
}
.newblue #sports .more {
	COLOR: #c9c9c9
}
.newblue #sports I {
	COLOR: #c9c9c9
}
.newblue #spGm .more {
	COLOR: #c9c9c9
}
.newblue .aimBuds I {
	COLOR: #c9c9c9
}
.newblue .spAimUa .more {
	COLOR: #c9c9c9
}
.newblue #ebay .more {
	COLOR: #c9c9c9
}
.newblue #ebtrkmsg {
	COLOR: #c9c9c9
}
.newblue #ebtrk {
	COLOR: #c9c9c9
}
.newblue #nmore {
	COLOR: #c9c9c9
}
.newblue #spRss .more {
	COLOR: #c9c9c9
}
.newblue #hpgames .more {
	COLOR: #c9c9c9
}
.newblue #wh .more UL {
	COLOR: #c9c9c9
}
.newblue #htstk .mr {
	COLOR: #c9c9c9
}
.newblue #intrts .mr {
	COLOR: #c9c9c9
}
.newblue #local .M H3.localh {
	BACKGROUND: #d5e0e6
}
.newblue #local .M H3.localh A {
	COLOR: #494949 !important
}
.newblue #local .M DIV.lmod {
	BACKGROUND-COLOR: #f0f4f6
}
.newblue #local .mylocations .chgloc {
	BORDER-BOTTOM-COLOR: #4f6b83; BACKGROUND-COLOR: #7193ae; BORDER-TOP-COLOR: #4f6b83; BORDER-RIGHT-COLOR: #4f6b83; BORDER-LEFT-COLOR: #4f6b83
}
.newblue #localnews .stories TD.date {
	COLOR: #494949
}
.newblue #localgas .price_listing TD.price {
	COLOR: #494949
}
.newblue #aijumpbar2 {
	COLOR: #28395b
}
.newblue #dl {
	BACKGROUND-COLOR: #fff
}
.newblue #prsscatsdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #nrsscatsdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #prsssitesdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue #nrsssitesdefault {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue .cats .rssmod_head_tle {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue .sites .rssmod_head_tle {
	BORDER-RIGHT-COLOR: #bcbcbc
}
.newblue .fBt {
	COLOR: #fff
}
.newblue #blsrch .fBt {
	COLOR: #000
}
.newblue .dlpv {
	BACKGROUND-COLOR: #efefef
}
.newblue .sc1sd {
	BACKGROUND-COLOR: #efefef
}
.newblue .main P.bg1 {
	BACKGROUND-COLOR: #efefef
}
.newblue #lSL {
	BACKGROUND: #eef3f7
}
.newblue #top_bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #top_bg #themechooserWr {
	BACKGROUND-IMAGE: none
}
.newblue #local .M DIV.lmod {
	BACKGROUND-COLOR: #f0f4f6
}
.newblue .mlMsg .mlbtn I {
	BORDER-BOTTOM-COLOR: #20314b; BORDER-TOP-COLOR: #20314b; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-RIGHT-COLOR: #20314b; BORDER-LEFT-COLOR: #20314b
}
.newblue #lQads .qAdW {
	BORDER-BOTTOM-COLOR: #e2e9ed
}
.newblue #sm_col .dir UL #addL A {
	BACKGROUND-COLOR: transparent
}
.newblue #horosP H3 {
	COLOR: #494949
}
.newblue #nwstop {
	BACKGROUND-COLOR: #c46f00
}
.newblue #rssagg .M .sphere H3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #dl {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #dlcontrol {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #f {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #smore {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue .M {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #sng {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue .white {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #mkhp {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue .nwsh1 {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #sng {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue .Feature {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #ft {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #ftl {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #b728 {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #b728w {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #aieastwestmantle {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #aieastwestmantle_w {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue .feedtitle {
	BACKGROUND-COLOR: #fbfbfb
}
.newblue #rssagg .M .sphere H3 {
	BACKGROUND-COLOR: #fbfbfb
}
#module_socnet .area_profile .links A {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .button_next {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .button_previous {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.refresh_button {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet #global_status_controls .global_control A {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .dialog_generic {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .socnet_splash {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .dialog_generic .footer_text {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .footer_text {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .dialog_generic .controls_wrapper {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#global_status_controls {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.action_reply_to {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-container .jcarousel-prev-disabled-horizontal:hover {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-container .jcarousel-prev-disabled-horizontal:active {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-container .jcarousel-next-disabled-horizontal:hover {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
.jcarousel-container .jcarousel-next-disabled-horizontal:active {
	BACKGROUND-IMAGE: url(blue_skin.png)
}
#module_socnet .textfield {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BACKGROUND: #fff; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
#module_socnet .info_header {
	BACKGROUND: #c4cfd5
}
#module_socnet .info_header .left_column SPAN {
	COLOR: #fff
}
#module_socnet .button {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
#module_socnet #select_networks_section .button {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
#module_socnet .button:hover {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND: #000; COLOR: #fff; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#module_socnet #select_networks_section .button:hover {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND: #000; COLOR: #fff; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#module_socnet .area_friends_thumbview .status_tooltip {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BACKGROUND: #fff; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
#module_socnet .area_friends_listview .friend {
	BORDER-BOTTOM: #c2c9cf 1px solid
}
#module_socnet .area_friends_listview .friend .left_column A {
	BORDER-BOTTOM: #c7ced4 2px solid; BORDER-LEFT: #c7ced4 2px solid; BORDER-TOP: #c7ced4 2px solid; BORDER-RIGHT: #c7ced4 2px solid
}
#module_socnet .area_friends_listview .friend .left_column A IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#module_socnet .area_profile .image_wrapper {
	BORDER-BOTTOM: #c7ced4 2px solid; BORDER-LEFT: #c7ced4 2px solid; BORDER-TOP: #c7ced4 2px solid; BORDER-RIGHT: #c7ced4 2px solid
}
#module_socnet .area_profile .links A {
	BACKGROUND-COLOR: transparent; BACKGROUND-POSITION: 0px -5182px
}
#module_socnet .dialog_generic {
	BACKGROUND-COLOR: #fff; BACKGROUND-POSITION: 0px -6192px
}
#module_socnet .socnet_splash {
	BACKGROUND-COLOR: #fff; BACKGROUND-POSITION: 0px -6192px
}
#module_socnet #socnet_splash .h1 {
	COLOR: #f00
}
#module_socnet .panel .h7 {
	COLOR: #f00
}
#module_socnet .dialog_generic .controls_container {
	BORDER-BOTTOM: #73899e 1px solid; BORDER-LEFT: #73899e 1px solid; BORDER-TOP: #73899e 1px solid; BORDER-RIGHT: #73899e 1px solid
}
#module_socnet .dialog_generic .controls_container .controls .control INPUT {
	BORDER-BOTTOM: #dfdfdd 2px solid; BORDER-LEFT: #878787 2px solid; BORDER-TOP: #878787 2px solid; BORDER-RIGHT: #dfdfdd 2px solid
}
#module_socnet .dialog_generic .controls_container .controls .control A {
	BORDER-BOTTOM: #8e8f91 2px solid; BORDER-LEFT: #e0e0e0 2px solid; BACKGROUND: #fff; BORDER-TOP: #e0e0e0 2px solid; BORDER-RIGHT: #8e8f91 2px solid
}
#module_socnet .dialog_generic .controls_container .controls .control A:hover {
	BORDER-BOTTOM: #8e8f91 2px solid; BORDER-LEFT: #fff 2px solid; BACKGROUND: #fff; COLOR: #f00; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #8e8f91 2px solid
}
#module_socnet .button_next {
	BACKGROUND-COLOR: transparent; BACKGROUND-POSITION: 4em -4750px
}
#module_socnet .button_previous {
	BACKGROUND-COLOR: transparent; BACKGROUND-POSITION: 0px -4606px
}
#module_socnet .panel_wrap {
	BACKGROUND: #d2dee4
}
#module_socnet #global_status_controls .select_network #networks .selected {
	BORDER-BOTTOM: #0f0 2px solid; BORDER-LEFT: #0f0 2px solid; BACKGROUND: #0f0; BORDER-TOP: #0f0 2px solid; BORDER-RIGHT: #0f0 2px solid
}
#module_socnet #global_status_controls .select_network #networks .selected:hover {
	BORDER-BOTTOM: #0f0 2px solid; BORDER-LEFT: #0f0 2px solid; BACKGROUND: #0f0; BORDER-TOP: #0f0 2px solid; BORDER-RIGHT: #0f0 2px solid
}
#module_socnet #global_status_controls .select_network #networks .unselected {
	BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: gray 2px solid; BACKGROUND: gray; BORDER-TOP: gray 2px solid; BORDER-RIGHT: gray 2px solid
}
#module_socnet #global_status_controls .select_network #networks .unselected:hover {
	BORDER-BOTTOM: #0f0 2px solid; BORDER-LEFT: #0f0 2px solid; BACKGROUND: #0f0; BORDER-TOP: #0f0 2px solid; BORDER-RIGHT: #0f0 2px solid
}
#module_socnet #global_status_controls .select_network #networks .disabled {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; BACKGROUND: #0f0; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#module_socnet #global_status_controls .global_control A {
	BACKGROUND-COLOR: #233754; BACKGROUND-POSITION: 0px -2304px; COLOR: #fff
}
#module_socnet #global_status_controls .global_control #global_name {
	COLOR: #838383
}
#module_socnet #socnet_content_wrap {
	BACKGROUND-COLOR: #627a8e
}
#module_socnet .greeting_pane {
	COLOR: #fff
}
#module_socnet .greeting_pane .left_column * {
	COLOR: #fff
}
#module_socnet .greeting_pane .left_column A {
	COLOR: #fff
}
#module_socnet .greeting_pane .left_column SPAN {
	COLOR: #fff
}
#module_socnet .greeting_pane .right_column * {
	COLOR: #fff
}
#module_socnet .greeting_pane .right_column {
	BORDER-BOTTOM: #5d6e7e 1px solid; BORDER-LEFT: #5d6e7e 1px solid; BACKGROUND: #94aebd; BORDER-TOP: #5d6e7e 1px solid; BORDER-RIGHT: #5d6e7e 1px solid
}
.refresh_button {
	BACKGROUND-COLOR: transparent; BACKGROUND-POSITION: 1px -5760px
}
.action_reply_to {
	BACKGROUND-COLOR: transparent; BACKGROUND-POSITION: 0px -5616px
}
#module_socnet #global_status_controls .global_control #global_status {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: white; COLOR: black; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
#module_socnet .dialog_generic {
	BACKGROUND: #f2f7fc
}
#module_socnet .socnet_splash {
	BACKGROUND: #f2f7fc
}
#module_socnet .dialog_generic .controls_wrapper {
	BACKGROUND-COLOR: #cdd4d9; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -5904px
}
#module_socnet .dialog_generic .footer_text {
	BORDER-BOTTOM: #b6bcc0 1px solid; BORDER-LEFT: #b6bcc0 1px solid; BACKGROUND: #e2e7eb; BORDER-TOP: #b6bcc0 1px solid; BORDER-RIGHT: #b6bcc0 1px solid
}
#module_socnet .footer_text {
	BORDER-BOTTOM: #b6bcc0 1px solid; BORDER-LEFT: #b6bcc0 1px solid; BACKGROUND: #e2e7eb; BORDER-TOP: #b6bcc0 1px solid; BORDER-RIGHT: #b6bcc0 1px solid
}
#global_status_controls {
	BACKGROUND-COLOR: #fff; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -5472px
}
#module_socnet .inline_status_area {
	BORDER-TOP: #c2c9cf 1px solid
}
#module_socnet .inline_status_area INPUT {
	BORDER-BOTTOM: white 2px solid; BORDER-LEFT: gray 2px solid; BORDER-TOP: gray 2px solid; BORDER-RIGHT: white 2px solid
}
#module_socnet .inline_status_area .control_box A {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: gray; COLOR: white; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
#module_socnet .inline_status_header_text {
	COLOR: black
}
#module_socnet .inline_status_header_textcount {
	COLOR: black
}
#module_socnet .area_friends_thumbview .friend A {
	BACKGROUND: #fff
}
#module_socnet .area_friends_listview .friend .left_column A {
	BACKGROUND: #fff
}
#module_socnet .area_friends_thumbview .friend {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#module_socnet .area_profile IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#module_socnet .area_loading * {
	COLOR: #55677f
}
#module_socnet .login_text {
	COLOR: #494949
}
#module_socnet .h7 {
	COLOR: #f00
}
#module_socnet #global_status_controls .global_control #global_submit {
	COLOR: #fff
}
.jcarousel-skin-ie7 .jcarousel-container {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 0px solid; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 0px solid
}
.jcarousel-skin-ie7 .jcarousel-item {
	BORDER-RIGHT: #d2d2d2 1px solid
}
.jcarousel-skin-ie7 .jcarousel-item .socitem .soc_carousel_status {
	COLOR: #f00
}
.jcarousel-skin-ie7 .jcarousel-item .socitem .mail_carousel_status {
	COLOR: #f00
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	BACKGROUND-COLOR: #243958; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
	BACKGROUND-COLOR: #000; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
	BACKGROUND-COLOR: #783423; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-container .jcarousel-next-disabled-horizontal:hover {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-container .jcarousel-next-disabled-horizontal:active {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 6px -5017px
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	BACKGROUND-COLOR: #243958; BACKGROUND-POSITION: 4px -4873px
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
	BACKGROUND-COLOR: #000; BACKGROUND-POSITION: 4px -4873px
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
	BACKGROUND-COLOR: #783423; BACKGROUND-POSITION: 4px -4873px
}
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 4px -4873px
}
.jcarousel-container .jcarousel-prev-disabled-horizontal:hover {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 4px -4873px
}
.jcarousel-container .jcarousel-prev-disabled-horizontal:active {
	BACKGROUND-COLOR: #999; BACKGROUND-POSITION: 4px -4873px
}
#aol_mail_options {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND: #36658e; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#module_socnet .refresh_button {
	COLOR: white
}
.logo_aim {
	BORDER-BOTTOM: #c2c9cf 1px solid; BORDER-LEFT: #c2c9cf 1px solid; BORDER-TOP: #c2c9cf 1px solid; BORDER-RIGHT: #c2c9cf 1px solid
}
.logo_bebo {
	BORDER-BOTTOM: #c2c9cf 1px solid; BORDER-LEFT: #c2c9cf 1px solid; BORDER-TOP: #c2c9cf 1px solid; BORDER-RIGHT: #c2c9cf 1px solid
}
.logo_facebook {
	BORDER-BOTTOM: #c2c9cf 1px solid; BORDER-LEFT: #c2c9cf 1px solid; BORDER-TOP: #c2c9cf 1px solid; BORDER-RIGHT: #c2c9cf 1px solid
}
.logo_myspace {
	BORDER-BOTTOM: #c2c9cf 1px solid; BORDER-LEFT: #c2c9cf 1px solid; BORDER-TOP: #c2c9cf 1px solid; BORDER-RIGHT: #c2c9cf 1px solid
}
.logo_twitter {
	BORDER-BOTTOM: #c2c9cf 1px solid; BORDER-LEFT: #c2c9cf 1px solid; BORDER-TOP: #c2c9cf 1px solid; BORDER-RIGHT: #c2c9cf 1px solid
}
#style_watcher_newblue {
	FONT-FAMILY: newblue
}
.newblue #md_col .mlbtm .more {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #md_col .mlbtm .more B {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.newblue #searchNavContainer {
	BORDER-BOTTOM-COLOR: #c2c2c2; BACKGROUND-COLOR: #cfe2f3; BORDER-TOP-COLOR: #c2c2c2; BORDER-RIGHT-COLOR: #c2c2c2; BORDER-LEFT-COLOR: #c2c2c2
}
.newblue #searchNavContainer .navq {
	BORDER-BOTTOM-COLOR: #8694a1; BACKGROUND-COLOR: #f7f7f7; BORDER-TOP-COLOR: #8694a1; BORDER-RIGHT-COLOR: #8694a1; BORDER-LEFT-COLOR: #8694a1
}
.newblue #searchNavContainer .navb {
	BORDER-BOTTOM-COLOR: #68620c; BACKGROUND-COLOR: #d9b528; BORDER-TOP-COLOR: #68620c; COLOR: #000; BORDER-RIGHT-COLOR: #68620c; BORDER-LEFT-COLOR: #68620c
}
.newblue INPUT.blur {
	COLOR: #b0b0b0
}
.newblue #portaltabs {
	BORDER-BOTTOM-COLOR: #bbc4ce
}
.newblue #portaltabs I.pti A {
	BORDER-BOTTOM-COLOR: #859db7; BORDER-TOP-COLOR: #859db7; COLOR: #fff; BORDER-RIGHT-COLOR: #859db7; BORDER-LEFT-COLOR: #859db7
}
.IE7 .newblue #portaltabs I.pti A {
	PADDING-BOTTOM: 6px
}
.newblue #portaltabs I.pti A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.newblue #portaltabs I.pti A.sel {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #f7f7ff; COLOR: #284668
}
.newblue #portaltabs I.pti A.sel:hover {
	COLOR: #284668
}
.newblue .clustCarouselP {
	BACKGROUND-COLOR: #47637f
}
.newblue .clustCarouselN {
	BACKGROUND-COLOR: #47637f
}
.newblue #cstmBtn {
	BACKGROUND-COLOR: #d9b528
}
.newblue #cstmPgCt H3 {
	BACKGROUND-COLOR: #d9b528
}
.newblue #pstrp {
	BACKGROUND-COLOR: #d5a800
}
.newblue #cstmPgCt H3 {
	COLOR: #2d4971
}
.newblue .hottopicsarrow {
	BACKGROUND-IMAGE: url(blue_skin.png); BACKGROUND-COLOR: #e9e9e9; BACKGROUND-REPEAT: no-repeat
}
.newblue #thmchsrTip {
	COLOR: #fff
}
.newblue #thmchsrTip .authprefsns {
	COLOR: #ffd52f
}
.newblue #GH_ #GH_search {
	BACKGROUND-IMAGE: url(search_sprite.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_ #GH_search_field {
	BACKGROUND-IMAGE: url(search_sprite.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_ .GH_search_active#GH_search_field {
	BACKGROUND-IMAGE: url(search_sprite.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_ #GH_search_button {
	BACKGROUND-IMAGE: url(search_sprite.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_ .srcharrw {
	BACKGROUND-IMAGE: url(search_sprite.png); BACKGROUND-COLOR: transparent
}
.newblue #GH_search_field {
	COLOR: #000
}
.newblue #GH_ #GH_search_form FIELDSET {
	BACKGROUND-COLOR: #fff
}
.IE .newblue #GH_ #GH_search_form FIELDSET {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.newblue #GH_search_button {
	COLOR: #fff
}
.newblue #GH_ #GH_search_results {
	BORDER-BOTTOM-COLOR: #818181; BACKGROUND-COLOR: #fff; BORDER-TOP-COLOR: #818181; BORDER-RIGHT-COLOR: #818181; BORDER-LEFT-COLOR: #818181
}
.newblue #GH_ #GH_search_results UL {
	COLOR: #666
}
.newblue #GH_ #GH_search_results .GH_highlight {
	BACKGROUND-COLOR: #a4bd3d; COLOR: #fff
}
.newblue .uk #jumpbar #aijumpbar1 A {
	COLOR: #ffd52f
}
.newblue .spc_tx {
	COLOR: #828282
}
.newblue .spc_tx {
	BORDER-BOTTOM-COLOR: #4a6379; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue .spc_fBt {
	BORDER-BOTTOM-COLOR: #4a6379; BORDER-TOP-COLOR: #4a6379; BORDER-RIGHT-COLOR: #4a6379; BORDER-LEFT-COLOR: #4a6379
}
.newblue .spc_fBt {
	BACKGROUND-COLOR: #89a80f; BACKGROUND-POSITION: 0px -1440px; COLOR: #fff
}
